.player-item {
  width: 100%;
}
.player-item p:first-child {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-weight: bold;
  justify-content: space-between;
}

.player-item svg {
  margin-right: 8px; 
}

.player-item p:last-child {
  font-size: 0.72em;
  color: var(--mauve11);
}