.player-item {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--size-2);
}
.player-item svg {
  font-size: 1.2em;
  margin-left: var(--size-2);
  margin-right: var(--size-3);
}

.player-item p:last-child {
  font-size: 0.85em;
}
