.group-tab {
  display: inline-block;
  width: 10em;
}

.table {
  width: 100%;
  font-size: 0.9rem;
  border-collapse: collapse;
  table-layout: fixed;
}

.table :global(.col-title) {
  width: auto;
}
.table :global(.col-score) {
  width: 25%;
  text-align: center;
}
.table :global(.col-deluxe) {
  width: 2.1rem;
}
.table :global(.col-difficulty) {
  width: 3rem;
}
.table :global(.col-internal-lv) {
  width: 3rem;
}
.table :global(.col-flags) {
  width: 4rem;
  & img {
    display: inline-block;
  }
}
.table svg {
  vertical-align: middle;
}

.table thead th svg {
  width: 0.8em;
  height: 0.8em;
}
.table.locked thead th svg {
  color: var(--mauve-6);
}

.table tbody {
  font-family: "M PLUS 1p";
}

.table tbody tr td {
  padding: 0.3rem 0;
  border-bottom: 1px solid var(--mauve-6);
  word-break: break-all;
}

.table td:global(.col-rating) {
  text-align: right;
}

.table td span {
  display: inline-block;
  padding: 0.1rem;
  border-radius: 0.3rem;
}

.table td:global(.col-difficulty) {
  text-align: right;
  font-weight: 400;
}
.table td:global(.col-difficulty):global(.plus) {
  padding-right: 0.165em;
}
.table td:global(.col-difficulty):global(.non-plus) {
  padding-right: 0.9em;
}

.difficulty-0 {
  color: var(--green-8);
}
.difficulty-1 {
  color: var(--yellow-8);
}
.difficulty-2 {
  color: var(--red-8);
}
.difficulty-3 {
  color: var(--violet-8);
}
.difficulty-4 {
  color: var(--purple-2);
  -webkit-text-stroke: 0.07rem var(--purple-6);
  paint-order: stroke fill;
}

.table tr.used td {
  background: var(--red-2);
}
