.table {
  width: 100%;
  font-size: 0.97rem;
  border-collapse: collapse;
  table-layout: fixed;
}

.table thead th {
  position: sticky;
  top: 0;
  width: 1.6rem;
  font-size: 0.9rem;
  font-weight: 400;
  background: var(--mauve-3);
  color: var(--mauve-12);
  border-bottom: 1px solid var(--mauve-6);
}
.table thead th:global(.col-title) {
  width: 100%;
}
.table thead th:global(.col-score) {
  width: 6rem;
}
.table thead th:global(.col-deluxe) {
  width: 2.1rem;
}
.table thead th:global(.col-internal-lv) {
  width: 2.7rem;
}
.table svg {
  vertical-align: middle;
}

.table thead th svg {
  width: 0.8em;
  height: 0.8em;
}
.table.locked thead th svg {
  color: var(--mauve-6);
}

.table tbody {
  font-family: "M PLUS 1p";
}

.table tr.grouped td {
  cursor: pointer;
  background: var(--mauve-1);
}

.table tbody tr td {
  padding: 0.3rem 0;
  border-bottom: 1px solid var(--mauve-6);
  word-break: break-all;
}

.table td:global(.col-deluxe) {
  font-size: 0.7rem;
  text-transform: uppercase;
  text-align: center;
  font-weight: 700;
}

.table td:global(.col-difficulty),
.table td:global(.col-internal-lv) {
  font-weight: 700;
  font-size: 0.8rem;
  text-align: center;
}

.table td:global(.col-combo-flag),
.table td:global(.col-sync-flag) {
  text-align: center;
  font-size: 0.6rem;
  text-transform: uppercase;
  font-weight: 900;
}
.table td:global(.col-score) {
  text-align: center;
}
.table td:global(.col-rating) {
  font-size: 0.8rem;
  text-align: right;
}

.table td span {
  display: inline-block;
  padding: 0.1rem;
  border-radius: 0.3rem;
}

.table td:global(.col-internal-lv) {
  font-weight: 400;
}
.table td:global(.col-internal-lv):global(.plus) {
  padding-right: 0.165em;
}
.table td:global(.col-internal-lv):global(.non-plus) {
  padding-right: 0.9em;
}

.difficulty-0 {
  color: var(--green-10);
}
.difficulty-1 {
  color: var(--amber-10);
}
.difficulty-2 {
  color: var(--red-10);
}
.difficulty-3 {
  color: var(--violet-10);
}
.difficulty-4 {
  color: var(--plum-6);
  -webkit-text-stroke: 0.04rem var(--plum-11);
  paint-order: stroke fill;
}

.table tr.used td {
  background: var(--red-2);
}

.toggle-difficulty-0 {
  color: var(--green-8);
}
.toggle-difficulty-0[data-state="on"] {
  color: var(--green-10);
  border-color: var(--green-10);
}
.toggle-difficulty-1 {
  color: var(--amber-8);
}
.toggle-difficulty-1[data-state="on"] {
  color: var(--amber-10);
  border-color: var(--amber-10);
}
.toggle-difficulty-2 {
  color: var(--red-8);
}
.toggle-difficulty-2[data-state="on"] {
  color: var(--red-10);
  border-color: var(--red-10);
}
.toggle-difficulty-3 {
  color: var(--violet-8);
}
.toggle-difficulty-3[data-state="on"] {
  color: var(--violet-10);
  border-color: var(--violet-10);
}
.toggle-difficulty-4 {
  color: var(--plum-8);
}
.toggle-difficulty-4[data-state="on"] {
  border-color: var(--plum-10);
}
