.player-item {
  flex: 1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.player-item svg {
  font-size: 1.2em;
}

.player-item p:last-child {
  font-size: 0.85em;
  color: var(--mauve-11);
}
