.container {
  max-width: 48rem;
  margin: 0 auto;
  h3 {
    font-size: var(--font-size-4);
    margin: var(--size-4) 0;
  }
}

.section {
  border: var(--border-size-1) solid var(--surface-3);
  border-radius: var(--radius-3);
  padding: var(--size-4);
  margin-bottom: var(--size-4);

  h4 {
    font-size: var(--font-size-2);
    margin-bottom: var(--size-3);
  }
}

.danger-zone {
  composes: section;

  --_danger-heading: var(--red-9);
  --_danger-border: var(--red-6);
  @media (prefers-color-scheme: dark) {
    --_danger-heading: var(--red-4);
    --_danger-border: var(--red-9);
  }

  border-color: var(--_danger-border);

  h4 {
    color: var(--_danger-heading);
  }
  h6 {
    margin-bottom: var(--size-2);
  }
  label {
    display: inline-flex;
    align-items: center;
    gap: var(--size-2);
  }
}

.danger-button {
  color: var(--red-9);
  border-color: var(--red-6);
  @media (prefers-color-scheme: dark) {
    color: var(--red-4);
    border-color: var(--red-9);
  }
  &:disabled {
    color: var(--text-2);
    border-color: var(--surface-4);
  }
}

.notes {
  margin-top: var(--size-3);
  color: var(--text-2);
  font-size: var(--font-size-0);
}
