.player-class {
  font-family: "M PLUS Rounded 1c";
  font-size: 125%;
  display: inline-block;
  margin-right: 1em;
  font-weight: bold;
  paint-order: stroke fill;

  &.class-silver {
    color: white;
    -webkit-text-stroke: 2px #333333;
  }
  &.class-gold {
    color: #fffa66;
    -webkit-text-stroke: 2px #333333;
  }
  &.class-gold-black {
    color: #333333;
    -webkit-text-stroke: 2px #ccc85b;
  }
  &.class-gold-red {
    color: #993333;
    -webkit-text-stroke: 2px #ccc85b;
  }
}
