.flag {
  display: inline-block;
  text-align: center;
  width: 1.6rem;
  font-size: 80%;
  font-family: "Noto Serif";
  font-weight: 900;
  margin-right: 0.2em;
  &.flag-fc-silver {
    -webkit-text-stroke: 2px var(--blue-4);
    paint-order: stroke fill;
    color: var(--blue-1);
    font-weight: bold;
  }
  &.flag-fc-gold {
    -webkit-text-stroke: 2px var(--red-4);
    paint-order: stroke fill;
    color: var(--choco-1);
    font-weight: bold;
  }

  &.flag.flag-ap,
  &.flag.flag-100 {
    -webkit-text-stroke: 2px var(--red-4);
    paint-order: stroke fill;
    color: var(--yellow-1);
    font-weight: bold;
  }

  &.flag.flag-ap-plus {
    font-size: 77%;
    -webkit-text-stroke: 2px var(--pink-6);
    paint-order: stroke fill;
    color: var(--yellow-1);
    font-weight: bold;
  }
}
