.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  background: transparent;
  border: none;
  td {
    background: transparent;
  }
  img {
    max-inline-size: none;
  }
  svg {
    vertical-align: middle;
  }
  thead th svg {
    width: 0.8em;
    height: 0.8em;
  }
  tbody {
    font-family: "M PLUS 1p";
  }
  tbody tr {
    height: 2em;
  }
  tbody tr td {
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--stone-2);
    word-break: break-all;
  }

  tr.used td {
    background: var(--red-2);
  }

  tr.inactive {
    color: var(--stone-6);
    .col-title {
      text-decoration: line-through;
    }
  }
}

.rating-used td {
  background: var(--surface-1);
}

.col-title {
  text-align: left;
  width: auto;
  a {
    color: inherit;
    &:hover {
      text-decoration-color: var(--stone-6);
    }
  }
  & span {
    margin-left: var(--size-2);
    color: var(--stone-6);
    font-size: 75%;
  }
}
.col-score {
  width: clamp(6.5rem, 12vw, 11rem);
  padding: 0 clamp(0.5rem, 1vw, 2rem);
  text-align: right;
}
.col-difficulty {
  width: 2rem;
  font-size: var(--font-size-0);
}

.col-flags {
  width: 4.5rem;
  height: 2rem;
  & img {
    display: inline-block;
    vertical-align: middle;
  }
}

td.col-rating {
  text-align: right;
}

td.col-difficulty {
  text-align: right;
  font-weight: 400;
}

td.col-difficulty.plus {
  padding-right: 0.165em;
}

td.col-difficulty.non-plus {
  padding-right: 0.9em;
}

.difficulty-0 {
  color: var(--blue-8);
}
.difficulty-1 {
  color: var(--green-8);
}
.difficulty-2 {
  color: var(--yellow-8);
}
.difficulty-3 {
  color: var(--red-8);
}
.difficulty-4 {
  color: var(--violet-8);
}
.difficulty-5 {
  color: var(--purple-2);
  -webkit-text-stroke: 0.07rem var(--purple-6);
  paint-order: stroke fill;
}

.estimated {
  font-style: italic;
}
