.alert {
  padding: 8px;
}
.alert[data-severity="info"] {
  background: var(--indigo3);
  color: var(--indigo12);
}
.alert[data-severity="error"] {
  background: var(--red3);
  color: var(--red12);
}
.alert[data-severity="warning"] {
  background: var(--yellow3);
  color: var(--yellow12);
}
