.button {
  all: unset;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 8px;
  cursor: pointer;
  padding: 4px 8px;
  margin: 4px;
  font-weight: bold;
  background: var(--scale3);
  color: var(--scale11);
  border: 1px solid var(--scale6);
}

.button:global(.hover),
.button:global(.focus) {
  background: var(--scale4);
  border-color: var(--scale8);
}

.button:global(.focus) {
  box-shadow: inset 0 0 0 2px var(--scale7);
}

.button:global(.active) {
  background: var(--scale5);
}

.button:disabled {
  background: var(--mauve2);
  border-color: var(--mauve6);
  color: var(--mauve8);
  cursor: default;
}
