.violet {
  --scale1: var(--violet1);
  --scale2: var(--violet2);
  --scale3: var(--violet3);
  --scale4: var(--violet4);
  --scale5: var(--violet5);
  --scale6: var(--violet6);
  --scale7: var(--violet7);
  --scale8: var(--violet8);
  --scale9: var(--violet9);
  --scale10: var(--violet10);
  --scale11: var(--violet11);
  --scale12: var(--violet12);
}

.indigo {
  --scale1: var(--indigo1);
  --scale2: var(--indigo2);
  --scale3: var(--indigo3);
  --scale4: var(--indigo4);
  --scale5: var(--indigo5);
  --scale6: var(--indigo6);
  --scale7: var(--indigo7);
  --scale8: var(--indigo8);
  --scale9: var(--indigo9);
  --scale10: var(--indigo10);
  --scale11: var(--indigo11);
  --scale12: var(--indigo12);
}
