@import "@radix-ui/colors/black-alpha.css";

.overlay {
  background: var(--black-a9);
  position: fixed;
  inset: 0;
}

.content {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border-radius: 8px;
  padding: 24px;
}
