.radio-root {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.radio-card-root {
  flex-direction: column;
  margin: 0.4rem 0.8rem 0.4rem 0;
}

.radio {
  all: unset;
  box-sizing: border-box;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  background: transparent;
  user-select: unset;
  margin-right: 0.5rem;
  font-size: 1em;
  cursor: pointer;
}

.radio-card-root .radio {
  display: flex;
  margin-right: 0;
  padding: 16px;
  border-radius: 16px;
  border: 1px solid var(--mauve-7);
  background: transparent;
  user-select: unset;
  font-size: 1em;
  cursor: pointer;
  width: 100%;
}

.radio:hover {
  border-color: var(--mauve-8);
}

.radio[data-state="checked"] {
  border-color: var(--violet-8);
}

.radio[data-state="checked"]:hover {
  border-color: var(--violet-9);
}

.radio .radio-button {
  all: unset;
  box-sizing: border-box;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1.2em;
  height: 1.2em;
  border: 0.15em solid var(--mauve-7);
  border-radius: 50%;
  margin: 0;
  margin-right: 0.4rem;
  padding: 0;
}

.radio-card-root .radio-button {
  margin-right: 2rem;
}

.radio[data-state="checked"] .radio-button {
  border-color: var(--violet-9);
}

.radio-indicator {
  width: 0.6em;
  height: 0.6em;
  border-radius: 50%;
  background: var(--violet-9);
}

.radio > :last-child {
  flex: 1;
}
