.scrollable-tab {
  display: flex;
  flex-direction: row;

  & button {
    background: transparent;
    border: none;
    box-shadow: none;
    &:hover {
      background: transparent;
    }
    &:disabled {
      display: none;
    }
    &:focus {
      outline: none;
    }
  }

  & [data-part="root"] {
    flex: 1;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
