.scrollable-tab {
  display: flex;
  flex-direction: row;

  & button {
    background: transparent;
    border: none;
    box-shadow: none;
    &:hover {
      background: transparent;
    }
    &[data-disabled] {
      display: none;
    }
    &[data-focused] {
      outline: none;
    }
  }

  & :global(.react-aria-TabList) {
    flex: 1;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
