.text-field {
  border: 1px solid var(--mauve-7);
  border-radius: 8px;
  font-size: 1em;
  padding: 0.5em;
  outline: none;
}

.text-field:focus {
  border-color: var(--mauve-8);
}

.text-field[data-invalid="true"] {
  border-color: var(--red-7);
}

.text-field:focus[data-invalid="true"] {
  border-color: var(--red-8);
}
