.toggle-group-item[data-state="on"] {
  border-bottom: 0.125rem solid var(--mauve-12);
  color: var(--mauve-12);
}
.toggle-group-item {
  all: unset;
  display: inline-flex;
  align-items: center;
  box-sizing: border-box;
  cursor: pointer;
  padding: 0.5rem;
  font-weight: bold;
  color: var(--mauve-10);
  border-bottom: 0.125rem solid transparent;
}
