.flag {
  font-size: 80%;
  border: 1px solid #999999;
  color: #999999;
  border-radius: 0.5em;
  padding: 0.2em;
}

.flag.flag-fc-gold {
  border: 1px solid #999933;
  color: #999933;
  font-weight: bold;
  background: #FFFFEE;
}

.flag.flag-ap {
  border: 1px solid #990000;
  color: #990000;
  font-weight: bold;
}
