.flag {
  display: inline-block;
  text-align: center;
  font-size: 65%;
  width: 2.2em;
  border: 1px solid #999999;
  color: #999999;
  border-radius: 0.5em;
  margin-right: 0.2em;
}

.flag.flag-fc-gold {
  border: 1px solid #999933;
  color: #999933;
  font-weight: bold;
  background: #FFFFEE;
}

.flag.flag-ap {
  border: 1px solid #990000;
  color: #990000;
  font-weight: bold;
}

.flag.flag-ap-plus {
  border: 1px solid #AA0000;
  color: #AA0000;
  background: white;
  font-weight: bold;
}
