
.player-scores {
  border-collapse: collapse;
  width: 100%;
}

.player-scores th, td {
  border-bottom: 1px solid #CCCCCC;
  padding: 0.2em;
}

.player-scores th {
  text-align: left;
  color: #000033;
  text-transform: uppercase;
}

.player-scores .song-name {
  height: 2.5em;
}

.player-scores .difficulty-0 {
  width: 5.5em;
  background: #F0FFFF;
}
.player-scores .difficulty-1 {
  width: 5.5em;
  background: #FFFFF0;
}
.player-scores .difficulty-2 {
  width: 5.5em;
  background: #FFFAF0;
}
.player-scores .difficulty-3 {
  width: 5.5em;
  background: #FFF0F0;
}
.player-scores .difficulty-4 {
  width: 5.5em;
  background: #FAF0FA;
}
.player-scores .difficulty-5 {
  width: 5.5em;
  background: #FAF0FA;
}

.player-scores .flags {
  display: block;
}

.player-record {
  margin: 0;
  vertical-align: middle;
}
.player-options {
  font-size: 80%;
  margin: 10px 0;
}

.player-name {
  font-family: 'Gen Jyuu Gothic Heavy';
  display: inline-block;
  margin: 0 1em 0 0;
  font-weight: bold;
  font-size: 120%;
}

.player-class {
  font-family: 'Gen Jyuu Gothic Heavy';
  font-size: 125%;
  display: inline-block;
  margin-right: 1em;
  font-weight: bold;
}

.player-class.class-silver {
  color: white;
  text-shadow: 1px 1px 0 #333333, -1px -1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333;
}
.player-class.class-gold {
  color: #FFFA66;
  text-shadow: 1px 1px 0 #333333, -1px -1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333;
}
.player-class.class-gold-black {
  color: #333333;
  text-shadow: 1px 1px 0 #CCC85B, -1px -1px 0 #CCC85B, 1px -1px 0 #CCC85B, -1px 1px 0 #CCC85B;
}
.player-class.class-gold-red {
  color: #993333;
  text-shadow: 1px 1px 0 #CCC85B, -1px -1px 0 #CCC85B, 1px -1px 0 #CCC85B, -1px 1px 0 #CCC85B;
}

.player-title {
  display: inline-block;
  margin-right: 1em;
}

.player-rating {
  display: inline-block;
}
