.player-scores tbody th {
  padding: 0.92857143em 0.78571429em;
  color: rgba(0, 0, 0, 0.87);
  border-top: 1px solid rgba(34, 36, 38, 0.1);
}

.player-scores tbody th {
  position: sticky;
  top: 43px;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
}
.player-scores tbody th:first-child .label {
  width: 20em;
}
.player-scores .song-name {
  height: 4em;
}

.player-scores .song-name .english-name {
  font-size: 75%;
  color: #999999;
}

.player-scores .score {
  width: 6.5em;
}
.player-scores td.score {
  text-align: right;
}
.player-scores td.score .level {
  float: left;
  margin-left: 0.2em;
  font-size: 75%;
  color: #AAAAAA;
}
.player-scores .difficulty-0 {
  background: #F0FFFF !important;
}
.player-scores .difficulty-1 {
  background: #FFFFF0 !important;
}
.player-scores .difficulty-2 {
  background: #FFFAF0 !important;
}
.player-scores .difficulty-3 {
  background: #FFF0F0 !important;
}
.player-scores .difficulty-4 {
  background: #FAF0FA !important;
}
.player-scores .difficulty-5 {
  background: #FAF0FA !important;
}


.player-scores.hide-difficulties .difficulty-0,
.player-scores.hide-difficulties .difficulty-1,
.player-scores.hide-difficulties .difficulty-2 {
  display: none;
}

.player-scores.hide-difficulties .score {
  width: 10.5em;
}
.player-scores.hide-difficulties .song-name {
  height: 2em;
}
.player-scores .flags {
  display: block;
}
@media only screen and (max-width: 767px) {
  .ui.table.player-scores th.score {
    display: none !important;
  }
  .ui.table.player-scores tr > td.score.score-zero {
    display: none !important;
  }
  .player-scores .song-name {
    height: auto;
  }
  .player-scores.hide-difficulties .song-name {
    height: auto;
  }
  .player-scores .score .flags {
    display: inline-block;
    width: 4em;
  }
  td.score.difficulty-0::before {
    float: left;
    content: "Easy";
  }
  td.score.difficulty-1::before {
    float: left;
    content: "Basic";
  }
  td.score.difficulty-2::before {
    float: left;
    content: "Advanced";
  }
  td.score.difficulty-3::before {
    float: left;
    content: "Expert";
  }
  td.score.difficulty-4::before {
    float: left;
    content: "Master";
  }
  td.score.difficulty-5::before {
    float: left;
    content: "Re:Master";
  }
}

.player-record {
  min-height: 3em;
  margin: 0;
  vertical-align: middle;
}
.player-options {
  font-size: 80%;
  margin: 10px 0;
}

.player-name {
  font-family: 'Gen Jyuu Gothic Heavy';
  display: inline-block;
  margin: 0 1em 0 0;
  font-weight: bold;
  font-size: 120%;
}

.player-class {
  font-family: 'Gen Jyuu Gothic Heavy';
  font-size: 125%;
  display: inline-block;
  margin-right: 1em;
  font-weight: bold;
}

.player-class.class-silver {
  color: white;
  text-shadow: 1px 1px 0 #333333, -1px -1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333;
}
.player-class.class-gold {
  color: #FFFA66;
  text-shadow: 1px 1px 0 #333333, -1px -1px 0 #333333, 1px -1px 0 #333333, -1px 1px 0 #333333;
}
.player-class.class-gold-black {
  color: #333333;
  text-shadow: 1px 1px 0 #CCC85B, -1px -1px 0 #CCC85B, 1px -1px 0 #CCC85B, -1px 1px 0 #CCC85B;
}
.player-class.class-gold-red {
  color: #993333;
  text-shadow: 1px 1px 0 #CCC85B, -1px -1px 0 #CCC85B, 1px -1px 0 #CCC85B, -1px 1px 0 #CCC85B;
}

.player-title {
  display: inline-block;
  margin-right: 1em;
}

.player-rating {
  display: inline-block;
}
