/* Shared player score table components. */
@media (min-width: 961px) {
  .player-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    & > div:first-of-type {
      flex: 1 0 24rem;
      align-self: start;
      position: sticky;
      top: 54px;
    }
    & > div:last-of-type {
      min-width: 0;
      flex: 1 1 auto;
    }
  }
}
.toolbar {
  & > :not(button:last-child, :global(.btn):last-child) {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
  & > :not(button:first-child, :global(.btn):first-child) {
    border-left: 0;
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
}

.line {
  display: flex;
  flex-direction: row;
  align-items: end;
  & :global(.react-aria-Select) button {
    border-right: 0;
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
  & :global(.react-aria-ToggleButton) {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
}

.sticky-header {
  position: sticky;
  top: 48px;
  background: var(--surface-1);
  font-size: var(--font-size-2);
  font-family: "M PLUS 1p";
}

.grouping-tablist {
  & :global(.react-aria-Tab) {
    flex: 1;
  }
  & :global(.react-aria-Tab[data-selected]) {
    --border-color: var(--blue-8);
  }
}

.tab-like-radio-group {
  display: flex;
  flex-direction: row;
  border-radius: var(--radius-3);
  gap: var(--size-3);

  & .tab-like-radio {
    padding: var(--size-2);
    cursor: pointer;
    flex: 1;
  }
  & .tab-like-radio {
    text-transform: uppercase;
  }
}
