@media (min-width: 961px) {
  .player-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;

    & > div:first-of-type {
      flex: 1 0 24rem;
      align-self: start;
      position: sticky;
      top: 54px;
    }
    & > div:last-of-type {
      min-width: 0;
      flex: 1 1 auto;
    }
  }
}
.toolbar {
  & > :not(button:first-child, :global(.btn):first-child) {
    border-start-start-radius: 0;
    border-end-start-radius: 0;
  }
  & > :not(button:last-child, :global(.btn):last-child) {
    border-start-end-radius: 0;
    border-end-end-radius: 0;
  }
}

.sticky-header {
  position: sticky;
  top: 48px;
  background: white;
  font-size: var(--font-size-2);
  @media (prefers-color-scheme: dark) {
    background: #1c1b22;
  }
}

.tab-like-radio-group {
  display: flex;
  flex-direction: row;
  border-radius: var(--radius-3);
  gap: var(--size-3);

  & .tab-like-radio {
    padding: var(--size-2);
    cursor: pointer;
    flex: 1;
  }
  &:first-of-type .tab-like-radio {
    &[data-selected] {
      border-bottom: 3px solid var(--blue-8);
    }
  }
  &:first-of-type .tab-like-radio:first-of-type {
    flex: 2;
  }
  &:last-of-type .tab-like-radio {
    text-transform: uppercase;
  }
}
.radio-difficulty-0 {
  color: var(--green-8);
  &[data-selected] {
    color: var(--green-10);
    background: var(--green-1);
  }
}
.radio-difficulty-1 {
  color: var(--orange-8);
  &[data-selected] {
    color: var(--orange-10);
    background: var(--orange-1);
  }
}
.radio-difficulty-2 {
  color: var(--red-8);
  &[data-selected] {
    color: var(--red-10);
    background: var(--red-1);
  }
}
.radio-difficulty-3 {
  color: var(--violet-8);
  &[data-selected] {
    color: var(--violet-10);
    background: var(--violet-1);
  }
}
.radio-difficulty-4 {
  color: var(--purple-8);
  &[data-selected] {
    background: var(--purple-1);
  }
}
.score-stats-block {
  margin: 0 1em 0 0;
  padding: var(--size-2);
  background: var(--surface-1);
  p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--size-1);
  }
  ul {
    margin: 0;
    padding: 0;
    font-family: "Roboto";
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    list-style: none;
    gap: 0.1em 0;
    text-align: center;
    li {
      list-style-type: none;
      padding: var(--size-1);
      background-color: var(--surface-2);
      span {
        display: block;
        font-weight: 900;
        color: var(--yellow-3);
        text-shadow: 0 2px 0 var(--yellow-6);
        -webkit-text-stroke: 2px var(--orange-9);
        paint-order: stroke fill;
      }
      &:first-of-type span {
        color: var(--red-2);
        -webkit-text-stroke: 1px var(--red-8);
      }
      img {
        display: block;
        margin: auto;
      }
    }
  }
}
