.radio-difficulty-0 {
  color: var(--green-8);
  &[data-state="checked"] {
    color: var(--green-10);
    background: var(--green-1);
  }
}
.radio-difficulty-1 {
  color: var(--orange-8);
  &[data-state="checked"] {
    color: var(--orange-10);
    background: var(--orange-1);
  }
}
.radio-difficulty-2 {
  color: var(--red-8);
  &[data-state="checked"] {
    color: var(--red-10);
    background: var(--red-1);
  }
}
.radio-difficulty-3 {
  color: var(--violet-8);
  &[data-state="checked"] {
    color: var(--violet-10);
    background: var(--violet-1);
  }
}
.radio-difficulty-4 {
  color: var(--purple-8);
  &[data-state="checked"] {
    background: var(--purple-1);
  }
}

.score-stats-block {
  margin: 0 1em 0 0;
  padding: var(--size-2);
  background: var(--surface-1);
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: var(--size-1);
  }
  ul {
    margin: 0;
    padding: 0;
    font-family: "M PLUS 1p";
    display: grid;
    grid-template-columns: repeat(auto-fill, 3.1rem);
    gap: 0.1em 0;
    text-align: center;
    li {
      list-style-type: none;
      padding: var(--size-1);
      background-color: var(--surface-2);
      span {
        display: block;
        font-weight: 900;
        color: var(--yellow-3);
        text-shadow: 0 2px 0 var(--yellow-6);
        -webkit-text-stroke: 2px var(--orange-9);
        paint-order: stroke fill;
        font-size: 90%;
      }
      &:first-of-type span {
        color: var(--red-2);
        -webkit-text-stroke: 1px var(--red-8);
      }
      img {
        display: block;
        margin: auto;
      }
    }
  }
}
