.col-level-diff {
  width: 7em;
  font-size: 85%;
  text-transform: uppercase;
}

.col-arrow {
  width: 3em;
  text-align: center;
  svg {
    display: inline-block;
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flags {
  display: flex;
  flex-direction: row;
  font-size: 0.8em;
}
.flags img {
  vertical-align: middle;
}
.score {
  width: 6.5em;
  text-align: right;
  overflow: hidden;
}
