@media (min-width: 961px) {
  .player-container {
    display: grid;
    grid-template-columns: 22rem 1fr;
  }
  .player-container > div:first-of-type {
    align-self: start;
    position: sticky;
    top: 54px;
  }
}
