.notes {
  font-size: 0.9em;
  color: var(--mauve-12);
}

.radio-group {
  label:global(.react-aria-Radio) {
    padding: var(--size-2) var(--size-5);
    border: 1px solid var(--surface-3);
    border-radius: var(--radius-2);
    &[data-selected] {
      background: var(--surface-2);
      border-color: var(--violet-6);
    }
    div {
      margin-left: var(--size-3);
      display: flex;
      flex-direction: column;
      dt {
        display: flex;
        flex-direction: row;
        font-size: var(--font-size-2);
        gap: var(--size-1);
      }
      dd ul,
      dd li {
        color: var(--text-2);
        font-size: var(--font-size-1);
        margin: 0;
        padding: 0;
      }
      dd li {
        color: var(--text-2);
        margin-left: var(--size-6);
      }
    }
  }
}
