.title {
  font-family: "M PLUS 1p";
  font-weight: 700;
  :where(h3, h4, h5, h6, dt) {
    max-width: unset;
  }
}

.rates {
  padding: 0;
  display: flex;
  flex-direction: row;
  margin: var(--size-2) 0;
  gap: var(--size-2);
  & li {
    margin: 0;
    padding: 0;
    display: flex;
    width: 6rem;
    text-align: right;
    flex-direction: column;
    list-style-type: none;
    background: var(--surface-2);
    border-radius: var(--radius-3);
    padding: var(--size-2);
    & span:first-child {
      font-size: 0.85rem;
    }
    & span:last-child {
      font-weight: bold;
      font-size: var(--font-size-2);
    }
  }
}

.intro {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--size-2);
  font-family: "M PLUS 1p";

  img {
    height: 4em;
  }
}
