.top {
  padding: 0.25em 3rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 48px;
  position: sticky;
  top: 0;
  background: white;
  @media (prefers-color-scheme: dark) {
    background: #333333;
  }

  :global(.react-aria-ComboBox) {
    padding-left: 2rem;
  }

  .space {
    flex: 1;
  }
}
@media (max-width: 960px) {
  .top {
    padding: 0.25rem;
    text-wrap: nowrap;
    input {
      width: 10rem;
    }
  }
}

.title {
  text-decoration: none;
  font-size: 1.2rem;
  color: var(--violet-10);
  @media (prefers-color-scheme: dark) {
    color: var(--violet-2);
  }
  font-family: "McLaren", cursive;
  display: inline-flex;
  align-items: center;
}
.title img {
  height: 1.2em;
  vertical-align: middle;
  margin-right: 0.2em;
}

.container {
  max-width: 1280px;
  margin: 0 auto;
  margin-top: 6px;
}

.footer {
  margin-top: 2rem;
  padding-top: 0.5rem;
  margin-right: auto;
  margin-left: auto;
  max-width: 1280px;
  border-top: 1px solid var(--stone-4);
  color: var(--stone-9);
  font-size: 85%;

  @media (prefers-color-scheme: dark) {
    border-top: 1px solid var(--stone-9);
    color: var(--stone-6);
  }
  a {
    display: inline-block;
    margin-left: 1.5rem;
  }

  svg {
    display: inline-block;
    vertical-align: middle;
  }
}
