@import url('https://fonts.googleapis.com/css?family=Rancho');

@font-face {
  font-family: 'Gen Jyuu Gothic Heavy';
  src: url('/static/genjyuu.ttf');
}
#container {
  padding-top: 4.5em;
}
#header {
  background: #EFEFEF;
  border-bottom: 1px solid #CCCCCC;
}
#footer {
  color: #999999;
}
.ui.secondary.menu .item.logo {
  padding-left: 0;
}

.ui.secondary.menu .item.logo a {
  font-size: 1.5em;
  font-family: 'Rancho', cursive;
  color: #666666;
  text-decoration: none;
}

