.smq-bookmarklet {
  width: 80%;
  height: 80%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  color: black;
  border: 1px solid #333333;
  border-radius: 15px;
  margin: auto;
  font-size: 15px;
  padding: .5em;
}

.smq-bookmarklet h3 {
  border: 0;
  background: transparent;
  font-size: 22px;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: left;
  position: static;
  color: #333333;
  cursor: auto;
}

.smq-bookmarklet input[type=text] {
  width: 22em;
}

.smq-bookmarklet a {
  color: #6699CC;
}

.smq-bookmarklet a.btn, .smq-bookmarklet button.btn {
  font-size: 14px;
  display: inline-block;
  color: #333333;
  border: none;
  padding: 5px 20px;
  text-decoration: none;
  font-weight: bold;
  background: #E0E1E2;
  border-radius: 5px;
}

.smq-bookmarklet button {
  font-size: 14px;
  padding: 5px 20px;
}
.smq-bookmarklet progress {
  width: 80%;
  height: 5px;
}

.smq-bookmarklet .nickname {
  font-size: 18px;
}
.smq-bookmarklet .nickname a {
  padding-left: 1.5em;
  font-size: 12px;
}
