.Book {
  width: 80%;
  height: 80%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  color: black;
  border: 1px solid #333333;
  margin: auto;
  font-size: 15px;
  padding: .5em;
}

.Book h3 {
  border: 0;
  background: transparent;
  font-size: 22px;
  padding: 0;
  margin: 0;
  border: 0;
  text-align: left;
  position: static;
  color: black;
  cursor: auto;
}

.Book input[type=text] {
  width: 22em;
}

.Book a {
  color: #333333;
}

.Book a.btn {
  display: inline-block;
  border: 1px solid #999999;
  color: #333333;
  padding: 5px 20px;
  text-decoration: none;
  background: #FAFAFA;
  border-radius: 10px;
}
