@import "open-props/normalize";
@import "open-props/buttons";

:where(html) {
  background-color: transparent;
}

.react-aria-ModalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: var(--visual-viewport-height);
  background: rgba(0 0 0 / 0.5);
  display: flex;
  align-items: center;
  justify-content: center;

  &[data-entering] {
    animation: var(--animation-fade-in);
  }
  &[data-existing] {
    animation: var(--animation-fade-out);
  }
}

.react-aria-Modal {
  background: white;
}

.react-aria-Modal :where(h2) {
  font-size: var(--font-size-3);
  margin-bottom: var(--size-2);
}

.react-aria-ListBox {
  border-radius: var(--radius-2);
  border: var(--border-size-1) solid var(--stone-7);
}

.react-aria-ListBoxItem {
  outline: none;
  margin: var(--size-2);
  padding: var(--size-2);
  border-radius: var(--radius-2);
  color: var(--stone-12);

  &[data-hovered],
  &[data-focused] {
    background-color: var(--stone-1);
  }
  &[data-selected] {
    background-color: var(--violet-2);
    &[data-hovered],
    &[data-focused] {
      background-color: var(--violet-1);
    }
  }
}

/* Reset Open Props nornamlize styles */
.react-aria-ListBoxItem a {
  color: inherit;
  text-decoration: inherit;
  margin-block: 0;
  margin-inline: 0;
  padding-block: 0;
  padding-inline: 0;

  &[href]:visited {
    text-decoration: inherit;
  }
}
