/* Google fonts */
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&family=M+PLUS+1p:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=McLaren&display=swap&text=Otohime");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@900&display=swap&text=0123456789");
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:700");

/* Radix UI colors */
@import "@radix-ui/colors/indigo.css";
@import "@radix-ui/colors/red.css";
@import "@radix-ui/colors/blue.css";
@import "@radix-ui/colors/yellow.css";
@import "@radix-ui/colors/mauve.css";
@import "@radix-ui/colors/violet.css";
@import "@radix-ui/colors/indigo.css";

html {
  /* 14px @ 320px - 18px @ 1800px */
  font-size: clamp(0.87rem, 0.27vw + 0.82rem, 1.13rem);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

a {
  color: var(--violet11);
}

p,
ul,
li,
dt,
dd,
div {
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 1.2em;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.52rem;
  margin: 0.5rem 0;
}

h3 {
  font-size: 1.32rem;
  margin: 0.5rem 0;
}

h4 {
  font-size: 1.15rem;
  margin: 0.5rem 0;
}

.react-icons {
  font-size: 1.2em;
  vertical-align: text-top;
}

/* Fixing https://github.com/mui-org/material-ui/issues/26251 */
.MuiButton-label {
  transition: color 0.01s;
}
