.dialog {
  width: 550px;
  height: 400px;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialog > div:first-of-type {
  flex: 1 1 auto;
  overflow-y: auto;
}