.dialog {
  min-width: 450px;
  width: 60%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dialog > div:first-of-type {
  flex: 1 1 auto;
  overflow-y: auto;
}
